{% extends "layout.html" %}

{% block content %}

    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>Prediction is {{ prediction }}</h3>
    
    </div>

    <div class="row justify-content-md-center">
        <div class="thumbnail">
            {% if prediction == 0 %}
            <section class="text-gray-400 bg-gray-900 body-font">
                <div class="container px-5 py-24 mx-auto">
                  <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                    <p class="leading-relaxed text-lg">The Person Cannot be Approved for the Loan</p>
                    <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                    <h2 class="text-white font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
                    <p class="text-gray-500">A Product by CredPred</p>
                  </div>
                </div>
              </section>
            {% endif %}
        </div>
    </div>
        
    <div class="row justify-content-md-center">
        <div class="thumbnail">
            {% if prediction == 1 %}
            <section class="text-gray-400 bg-gray-900 body-font">
                <div class="container px-5 py-24 mx-auto">
                  <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                    <p class="leading-relaxed text-lg">The Person Can be Approved for the Loan</p>
                    <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
                    <h2 class="text-white font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>
                    <p class="text-gray-500">A Product by CredPred</p>
                  </div>
                </div>
              </section>
            {% endif %}
        </div>

{% endblock %}
